python-scripts/output.xml

<?xml version="1.0" encoding="UTF-8"?>
<definitions 
    targetNamespace="http://soap.sforce.com/2006/04/metadata" 
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
    xmlns="http://schemas.xmlsoap.org/wsdl/" 
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
    xmlns:tns="http://soap.sforce.com/2006/04/metadata"
    >
<types>
    <xsd:schema 
        targetNamespace="http://soap.sforce.com/2006/04/metadata"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:element name="SessionHeader">
      <xsd:complexType>
        <xsd:sequence>
          <xsd:element name="sessionId" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:element>
    <xsd:element name="CallOptions">
      <xsd:complexType>
        <xsd:sequence>
          <xsd:element name="client" type="xsd:string" minOccurs="0"/>
          <xsd:element name="defaultNamespace" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:element>
    <xsd:element name="AllOrNoneHeader">
      <xsd:complexType>
        <xsd:sequence>
          <xsd:element name="allOrNone" type="xsd:boolean"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:element>
    <xsd:element name="DebuggingHeader">
      <xsd:complexType>
        <xsd:sequence>
          <xsd:element name="categories" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element name="debugLevel" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:element>
    <xsd:element name="DebuggingInfo">
      <xsd:complexType>
        <xsd:sequence>
          <xsd:element name="debugLog" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:element>
    <xsd:element name="cancelDeploy">
     <xsd:complexType>
      <xsd:sequence>
       <xsd:element name="String" type="tns:ID"/>
      </xsd:sequence>
     </xsd:complexType>
    </xsd:element>
    <xsd:element name="cancelDeployResponse">
     <xsd:complexType>
      <xsd:sequence>
       <xsd:element name="result" type="tns:CancelDeployResult"/>
      </xsd:sequence>
     </xsd:complexType>
    </xsd:element>
    <xsd:element name="checkDeployStatus">
     <xsd:complexType>
      <xsd:sequence>
       <xsd:element name="asyncProcessId" type="tns:ID"/>
       <xsd:element name="includeDetails" type="xsd:boolean"/>
      </xsd:sequence>
     </xsd:complexType>
    </xsd:element>
    <xsd:element name="checkDeployStatusResponse">
     <xsd:complexType>
      <xsd:sequence>
       <xsd:element name="result" type="tns:DeployResult"/>
      </xsd:sequence>
     </xsd:complexType>
    </xsd:element>
    <xsd:element name="checkRetrieveStatus">
     <xsd:complexType>
      <xsd:sequence>
       <xsd:element name="asyncProcessId" type="tns:ID"/>
       <xsd:element name="includeZip" type="xsd:boolean"/>
      </xsd:sequence>
     </xsd:complexType>
    </xsd:element>
    <xsd:element name="checkRetrieveStatusResponse">
     <xsd:complexType>
      <xsd:sequence>
       <xsd:element name="result" type="tns:RetrieveResult"/>
      </xsd:sequence>
     </xsd:complexType>
    </xsd:element>
    <xsd:element name="createMetadata">
     <xsd:complexType>
      <xsd:sequence>
       <xsd:element name="metadata" minOccurs="0" maxOccurs="unbounded" type="tns:Metadata"/>
      </xsd:sequence>
     </xsd:complexType>
    </xsd:element>
    <xsd:element name="createMetadataResponse">
     <xsd:complexType>
      <xsd:sequence>
       <xsd:element name="result" minOccurs="0" maxOccurs="unbounded" type="tns:SaveResult"/>
      </xsd:sequence>
     </xsd:complexType>
    </xsd:element>
    <xsd:element name="deleteMetadata">
     <xsd:complexType>
      <xsd:sequence>
       <xsd:element name="type" type="xsd:string"/>
       <xsd:element name="fullNames" minOccurs="0" maxOccurs="unbounded" type="xsd:string"/>
      </xsd:sequence>
     </xsd:complexType>
    </xsd:element>
    <xsd:element name="deleteMetadataResponse">
     <xsd:complexType>
      <xsd:sequence>
       <xsd:element name="result" minOccurs="0" maxOccurs="unbounded" type="tns:DeleteResult"/>
      </xsd:sequence>
     </xsd:complexType>
    </xsd:element>
    <xsd:element name="deploy">
     <xsd:complexType>
      <xsd:sequence>
       <xsd:element name="ZipFile" type="xsd:base64Binary"/>
       <xsd:element name="DeployOptions" type="tns:DeployOptions"/>
      </xsd:sequence>
     </xsd:complexType>
    </xsd:element>
    <xsd:element name="deployResponse">
     <xsd:complexType>
      <xsd:sequence>
       <xsd:element name="result" type="tns:AsyncResult"/>
      </xsd:sequence>
     </xsd:complexType>
    </xsd:element>
    <xsd:element name="deployRecentValidation">
     <xsd:complexType>
      <xsd:sequence>
       <xsd:element name="validationId" type="tns:ID"/>
      </xsd:sequence>
     </xsd:complexType>
    </xsd:element>
    <xsd:element name="deployRecentValidationResponse">
     <xsd:complexType>
      <xsd:sequence>
       <xsd:element name="result" type="xsd:string"/>
      </xsd:sequence>
     </xsd:complexType>
    </xsd:element>
    <xsd:element name="describeMetadata">
     <xsd:complexType>
      <xsd:sequence>
       <xsd:element name="asOfVersion" type="xsd:double"/>
      </xsd:sequence>
     </xsd:complexType>
    </xsd:element>
    <xsd:element name="describeMetadataResponse">
     <xsd:complexType>
      <xsd:sequence>
       <xsd:element name="result" type="tns:DescribeMetadataResult"/>
      </xsd:sequence>
     </xsd:complexType>
    </xsd:element>
    <xsd:element name="describeValueType">
     <xsd:complexType>
      <xsd:sequence>
       <xsd:element name="type" type="xsd:string"/>
      </xsd:sequence>
     </xsd:complexType>
    </xsd:element>
    <xsd:element name="describeValueTypeResponse">
     <xsd:complexType>
      <xsd:sequence>
       <xsd:element name="result" type="tns:DescribeValueTypeResult"/>
      </xsd:sequence>
     </xsd:complexType>
    </xsd:element>
    <xsd:element name="listMetadata">
     <xsd:complexType>
      <xsd:sequence>
       <xsd:element name="queries" minOccurs="0" maxOccurs="unbounded" type="tns:ListMetadataQuery"/>
       <xsd:element name="asOfVersion" type="xsd:double"/>
      </xsd:sequence>
     </xsd:complexType>
    </xsd:element>
    <xsd:element name="listMetadataResponse">
     <xsd:complexType>
      <xsd:sequence>
       <xsd:element name="result" minOccurs="0" maxOccurs="unbounded" type="tns:FileProperties"/>
      </xsd:sequence>
     </xsd:complexType>
    </xsd:element>
    <xsd:element name="readMetadata">
     <xsd:complexType>
      <xsd:sequence>
       <xsd:element name="type" type="xsd:string"/>
       <xsd:element name="fullNames" minOccurs="0" maxOccurs="unbounded" type="xsd:string"/>
      </xsd:sequence>
     </xsd:complexType>
    </xsd:element>
    <xsd:element name="readMetadataResponse">
     <xsd:complexType>
      <xsd:sequence>
       <xsd:element name="result" type="tns:ReadResult"/>
      </xsd:sequence>
     </xsd:complexType>
    </xsd:element>
    <xsd:element name="renameMetadata">
     <xsd:complexType>
      <xsd:sequence>
       <xsd:element name="type" type="xsd:string"/>
       <xsd:element name="oldFullName" type="xsd:string"/>
       <xsd:element name="newFullName" type="xsd:string"/>
      </xsd:sequence>
     </xsd:complexType>
    </xsd:element>
    <xsd:element name="renameMetadataResponse">
     <xsd:complexType>
      <xsd:sequence>
       <xsd:element name="result" type="tns:SaveResult"/>
      </xsd:sequence>
     </xsd:complexType>
    </xsd:element>
    <xsd:element name="retrieve">
     <xsd:complexType>
      <xsd:sequence>
       <xsd:element name="retrieveRequest" type="tns:RetrieveRequest"/>
      </xsd:sequence>
     </xsd:complexType>
    </xsd:element>
    <xsd:element name="retrieveResponse">
     <xsd:complexType>
      <xsd:sequence>
       <xsd:element name="result" type="tns:AsyncResult"/>
      </xsd:sequence>
     </xsd:complexType>
    </xsd:element>
    <xsd:element name="updateMetadata">
     <xsd:complexType>
      <xsd:sequence>
       <xsd:element name="metadata" minOccurs="0" maxOccurs="unbounded" type="tns:Metadata"/>
      </xsd:sequence>
     </xsd:complexType>
    </xsd:element>
    <xsd:element name="updateMetadataResponse">
     <xsd:complexType>
      <xsd:sequence>
       <xsd:element name="result" minOccurs="0" maxOccurs="unbounded" type="tns:SaveResult"/>
      </xsd:sequence>
     </xsd:complexType>
    </xsd:element>
    <xsd:element name="upsertMetadata">
     <xsd:complexType>
      <xsd:sequence>
       <xsd:element name="metadata" minOccurs="0" maxOccurs="unbounded" type="tns:Metadata"/>
      </xsd:sequence>
     </xsd:complexType>
    </xsd:element>
    <xsd:element name="upsertMetadataResponse">
     <xsd:complexType>
      <xsd:sequence>
       <xsd:element name="result" minOccurs="0" maxOccurs="unbounded" type="tns:UpsertResult"/>
      </xsd:sequence>
     </xsd:complexType>
    </xsd:element>
    <xsd:simpleType name="ID">
     <xsd:restriction base="xsd:string">
      <xsd:length value="18"/>
      <xsd:pattern value="[a-zA-Z0-9]{18}"/>
     </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType name="CancelDeployResult">
     <xsd:sequence>
      <xsd:element name="done" type="xsd:boolean"/>
      <xsd:element name="id" type="tns:ID"/>
     </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="DeployResult">
     <xsd:sequence>
      <xsd:element name="canceledBy" minOccurs="0" type="xsd:string"/>
      <xsd:element name="canceledByName" minOccurs="0" type="xsd:string"/>
      <xsd:element name="checkOnly" type="xsd:boolean"/>
      <xsd:element name="completedDate" minOccurs="0" type="xsd:dateTime"/>
      <xsd:element name="createdBy" type="xsd:string"/>
      <xsd:element name="createdByName" type="xsd:string"/>
      <xsd:element name="createdDate" type="xsd:dateTime"/>
      <xsd:element name="details" type="tns:DeployDetails"/>
      <xsd:element name="done" type="xsd:boolean"/>
      <xsd:element name="errorMessage" minOccurs="0" type="xsd:string"/>
      <xsd:element name="errorStatusCode" minOccurs="0" type="tns:StatusCode"/>
      <xsd:element name="id" type="tns:ID"/>
      <xsd:element name="ignoreWarnings" type="xsd:boolean"/>
      <xsd:element name="lastModifiedDate" minOccurs="0" type="xsd:dateTime"/>
      <xsd:element name="numberComponentErrors" type="xsd:int"/>
      <xsd:element name="numberComponentsDeployed" type="xsd:int"/>
      <xsd:element name="numberComponentsTotal" type="xsd:int"/>
      <xsd:element name="numberFiles" minOccurs="0" type="xsd:int"/>
      <xsd:element name="numberTestErrors" type="xsd:int"/>
      <xsd:element name="numberTestsCompleted" type="xsd:int"/>
      <xsd:element name="numberTestsTotal" type="xsd:int"/>
      <xsd:element name="rollbackOnError" type="xsd:boolean"/>
      <xsd:element name="runTestsEnabled" type="xsd:boolean"/>
      <xsd:element name="startDate" minOccurs="0" type="xsd:dateTime"/>
      <xsd:element name="stateDetail" minOccurs="0" type="xsd:string"/>
      <xsd:element name="status" type="tns:DeployStatus"/>
      <xsd:element name="success" type="xsd:boolean"/>
      <xsd:element name="zipSize" minOccurs="0" type="xsd:long"/>
     </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="RetrieveResult">
     <xsd:sequence>
      <xsd:element name="done" type="xsd:boolean"/>
      <xsd:element name="errorMessage" minOccurs="0" type="xsd:string"/>
      <xsd:element name="errorStatusCode" minOccurs="0" type="tns:StatusCode"/>
      <xsd:element name="fileProperties" minOccurs="0" maxOccurs="unbounded" type="tns:FileProperties"/>
      <xsd:element name="id" type="xsd:string"/>
      <xsd:element name="messages" minOccurs="0" maxOccurs="unbounded" type="tns:RetrieveMessage"/>
      <xsd:element name="status" type="tns:RetrieveStatus"/>
      <xsd:element name="success" type="xsd:boolean"/>
      <xsd:element name="zipFile" type="xsd:base64Binary"/>
     </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Metadata">
     <xsd:sequence>
      <xsd:element name="fullName" minOccurs="0" type="xsd:string"/>
     </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="SaveResult">
     <xsd:sequence>
      <xsd:element name="errors" minOccurs="0" maxOccurs="unbounded" type="tns:Error"/>
      <xsd:element name="fullName" type="xsd:string"/>
      <xsd:element name="success" type="xsd:boolean"/>
     </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="DeleteResult">
     <xsd:sequence>
      <xsd:element name="errors" minOccurs="0" maxOccurs="unbounded" type="tns:Error"/>
      <xsd:element name="fullName" type="xsd:string"/>
      <xsd:element name="success" type="xsd:boolean"/>
     </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="DeployOptions">
     <xsd:sequence>
      <xsd:element name="allowMissingFiles" type="xsd:boolean"/>
      <xsd:element name="autoUpdatePackage" type="xsd:boolean"/>
      <xsd:element name="checkOnly" type="xsd:boolean"/>
      <xsd:element name="ignoreWarnings" type="xsd:boolean"/>
      <xsd:element name="performRetrieve" type="xsd:boolean"/>
      <xsd:element name="purgeOnDelete" type="xsd:boolean"/>
      <xsd:element name="rollbackOnError" type="xsd:boolean"/>
      <xsd:element name="runTests" minOccurs="0" maxOccurs="unbounded" type="xsd:string"/>
      <xsd:element name="singlePackage" type="xsd:boolean"/>
      <xsd:element name="testLevel" type="tns:TestLevel"/>
     </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="AsyncResult">
     <xsd:sequence>
      <xsd:element name="done" type="xsd:boolean"/>
      <xsd:element name="id" type="tns:ID"/>
      <xsd:element name="message" minOccurs="0" type="xsd:string"/>
      <xsd:element name="state" type="tns:AsyncRequestState"/>
      <xsd:element name="statusCode" minOccurs="0" type="tns:StatusCode"/>
     </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="DescribeMetadataResult">
     <xsd:sequence>
      <xsd:element name="metadataObjects" minOccurs="0" maxOccurs="unbounded" type="tns:DescribeMetadataObject"/>
      <xsd:element name="organizationNamespace" type="xsd:string"/>
      <xsd:element name="partialSaveAllowed" type="xsd:boolean"/>
      <xsd:element name="testRequired" type="xsd:boolean"/>
     </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="DescribeValueTypeResult">
     <xsd:sequence>
      <xsd:element name="apiCreatable" type="xsd:boolean"/>
      <xsd:element name="apiDeletable" type="xsd:boolean"/>
      <xsd:element name="apiReadable" type="xsd:boolean"/>
      <xsd:element name="apiUpdatable" type="xsd:boolean"/>
      <xsd:element name="parentField" minOccurs="0" type="tns:ValueTypeField"/>
      <xsd:element name="valueTypeFields" minOccurs="0" maxOccurs="unbounded" type="tns:ValueTypeField"/>
     </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ListMetadataQuery">
     <xsd:sequence>
      <xsd:element name="folder" minOccurs="0" type="xsd:string"/>
      <xsd:element name="type" type="xsd:string"/>
     </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ReadResult">
     <xsd:sequence>
      <xsd:element name="records" minOccurs="0" maxOccurs="unbounded" type="tns:Metadata"/>
     </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="RetrieveRequest">
     <xsd:sequence>
      <xsd:element name="apiVersion" type="xsd:double"/>
      <xsd:element name="packageNames" minOccurs="0" maxOccurs="unbounded" type="xsd:string"/>
      <xsd:element name="rootTypesWithDependencies" minOccurs="0" maxOccurs="unbounded" type="xsd:string"/>
      <xsd:element name="singlePackage" type="xsd:boolean"/>
      <xsd:element name="specificFiles" minOccurs="0" maxOccurs="unbounded" type="xsd:string"/>
      <xsd:element name="unpackaged" minOccurs="0" type="tns:Package"/>
     </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="UpsertResult">
     <xsd:sequence>
      <xsd:element name="created" type="xsd:boolean"/>
      <xsd:element name="errors" minOccurs="0" maxOccurs="unbounded" type="tns:Error"/>
      <xsd:element name="fullName" type="xsd:string"/>
      <xsd:element name="success" type="xsd:boolean"/>
     </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Error">
     <xsd:sequence>
      <xsd:element name="extendedErrorDetails" minOccurs="0" maxOccurs="unbounded" type="tns:ExtendedErrorDetails"/>
      <xsd:element name="fields" minOccurs="0" maxOccurs="unbounded" type="xsd:string"/>
      <xsd:element name="message" type="xsd:string"/>
      <xsd:element name="statusCode" type="tns:StatusCode"/>
     </xsd:sequence>
    </xsd:complexType>
    <xsd:simpleType name="TestLevel">
     <xsd:restriction base="xsd:string">
      <xsd:enumeration value="NoTestRun"/>
      <xsd:enumeration value="RunSpecifiedTests"/>
      <xsd:enumeration value="RunLocalTests"/>
      <xsd:enumeration value="RunAllTestsInOrg"/>
     </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="AsyncRequestState">
     <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Queued"/>
      <xsd:enumeration value="InProgress"/>
      <xsd:enumeration value="Completed"/>
      <xsd:enumeration value="Error"/>
     </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="StatusCode">
     <xsd:restriction base="xsd:string">
      <xsd:enumeration value="ALL_OR_NONE_OPERATION_ROLLED_BACK"/>
      <xsd:enumeration value="ALREADY_IN_PROCESS"/>
      <xsd:enumeration value="ASSIGNEE_TYPE_REQUIRED"/>
      <xsd:enumeration value="BAD_CUSTOM_ENTITY_PARENT_DOMAIN"/>
      <xsd:enumeration value="BCC_NOT_ALLOWED_IF_BCC_COMPLIANCE_ENABLED"/>
      <xsd:enumeration value="CANNOT_CASCADE_PRODUCT_ACTIVE"/>
      <xsd:enumeration value="CANNOT_DEACTIVATE_DIVISION"/>
      <xsd:enumeration value="CANNOT_DELETE_LAST_DATED_CONVERSION_RATE"/>
      <xsd:enumeration value="CANNOT_DELETE_MANAGED_OBJECT"/>
      <xsd:enumeration value="CANNOT_DISABLE_LAST_ADMIN"/>
      <xsd:enumeration value="CANNOT_ENABLE_IP_RESTRICT_REQUESTS"/>
      <xsd:enumeration value="CANNOT_EXECUTE_FLOW_TRIGGER"/>
      <xsd:enumeration value="CANNOT_INSERT_UPDATE_ACTIVATE_ENTITY"/>
      <xsd:enumeration value="CANNOT_MODIFY_MANAGED_OBJECT"/>
      <xsd:enumeration value="CANNOT_PASSWORD_LOCKOUT"/>
      <xsd:enumeration value="CANNOT_POST_TO_ARCHIVED_GROUP"/>
      <xsd:enumeration value="CANNOT_RENAME_APEX_REFERENCED_FIELD"/>
      <xsd:enumeration value="CANNOT_RENAME_APEX_REFERENCED_OBJECT"/>
      <xsd:enumeration value="CANNOT_REPARENT_RECORD"/>
      <xsd:enumeration value="CANNOT_RESERVE_IP"/>
      <xsd:enumeration value="CANNOT_UPDATE_CONVERTED_LEAD"/>
      <xsd:enumeration value="CANT_DISABLE_CORP_CURRENCY"/>
      <xsd:enumeration value="CANT_UNSET_CORP_CURRENCY"/>
      <xsd:enumeration value="CANT_ADD_STANDADRD_PORTAL_USER_TO_TERRITORY"/>
      <xsd:enumeration value="CIRCULAR_DEPENDENCY"/>
      <xsd:enumeration value="COLLISION_DETECTED"/>
      <xsd:enumeration value="COMMUNITY_NOT_ACCESSIBLE"/>
      <xsd:enumeration value="CUSTOM_CLOB_FIELD_LIMIT_EXCEEDED"/>
      <xsd:enumeration value="CUSTOM_ENTITY_OR_FIELD_LIMIT"/>
      <xsd:enumeration value="CUSTOM_FIELD_INDEX_LIMIT_EXCEEDED"/>
      <xsd:enumeration value="CUSTOM_INDEX_EXISTS"/>
      <xsd:enumeration value="CUSTOM_LINK_LIMIT_EXCEEDED"/>
      <xsd:enumeration value="CUSTOM_TAB_LIMIT_EXCEEDED"/>
      <xsd:enumeration value="DELETE_FAILED"/>
      <xsd:enumeration value="DELETE_REQUIRED"/>
      <xsd:enumeration value="DEPENDENCY_EXISTS"/>
      <xsd:enumeration value="DUPLICATES_DETECTED"/>
      <xsd:enumeration value="DUPLICATE_CASE_SOLUTION"/>
      <xsd:enumeration value="DUPLICATE_COMM_NICKNAME"/>
      <xsd:enumeration value="DUPLICATE_CUSTOM_ENTITY_TYPE"/>
      <xsd:enumeration value="DUPLICATE_CUSTOM_TAB"/>
      <xsd:enumeration value="DUPLICATE_DEVELOPER_NAME"/>
      <xsd:enumeration value="DUPLICATE_EXTERNAL_ID"/>
      <xsd:enumeration value="DUPLICATE_MASTER_LABEL"/>
      <xsd:enumeration value="DUPLICATE_SENDER_DISPLAY_NAME"/>
      <xsd:enumeration value="DUPLICATE_USERNAME"/>
      <xsd:enumeration value="DUPLICATE_VALUE"/>
      <xsd:enumeration value="EMAIL_NOT_PROCESSED_DUE_TO_PRIOR_ERROR"/>
      <xsd:enumeration value="EMPTY_SCONTROL_FILE_NAME"/>
      <xsd:enumeration value="ENTITY_FAILED_IFLASTMODIFIED_ON_UPDATE"/>
      <xsd:enumeration value="ENTITY_IS_ARCHIVED"/>
      <xsd:enumeration value="ENTITY_IS_DELETED"/>
      <xsd:enumeration value="ENTITY_IS_LOCKED"/>
      <xsd:enumeration value="ERROR_IN_MAILER"/>
      <xsd:enumeration value="EXCEEDED_SINGLE_EMAIL_LIMIT"/>
      <xsd:enumeration value="EXCEPTION_THROWN_IN_APEX"/>
      <xsd:enumeration value="FAILED_ACTIVATION"/>
      <xsd:enumeration value="FIELD_CUSTOM_VALIDATION_EXCEPTION"/>
      <xsd:enumeration value="FIELD_FILTER_VALIDATION_EXCEPTION"/>
      <xsd:enumeration value="FIELD_INTEGRITY_EXCEPTION"/>
      <xsd:enumeration value="FILTERED_LOOKUP_LIMIT_EXCEEDED"/>
      <xsd:enumeration value="FIND_DUPLICATES_ERROR"/>
      <xsd:enumeration value="FUNCTIONALITY_NOT_ENABLED"/>
      <xsd:enumeration value="HTML_FILE_UPLOAD_NOT_ALLOWED"/>
      <xsd:enumeration value="IMAGE_TOO_LARGE"/>
      <xsd:enumeration value="INACTIVE_OWNER_OR_USER"/>
      <xsd:enumeration value="INACTIVE_RULE_ERROR"/>
      <xsd:enumeration value="INSUFFICIENT_ACCESS_OR_READONLY"/>
      <xsd:enumeration value="INSUFFICIENT_ACCESS_ON_CROSS_REFERENCE_ENTITY"/>
      <xsd:enumeration value="INSUFFICIENT_CREDITS"/>
      <xsd:enumeration value="INSUFFICIENT_PRIVILEGES"/>
      <xsd:enumeration value="INVALID_ACCESS_LEVEL"/>
      <xsd:enumeration value="INVALID_ARGUMENT_TYPE"/>
      <xsd:enumeration value="INVALID_ASSIGNEE_TYPE"/>
      <xsd:enumeration value="INVALID_ASSIGNMENT_RULE"/>
      <xsd:enumeration value="INVALID_BATCH_OPERATION"/>
      <xsd:enumeration value="INVALID_CONTENT_TYPE"/>
      <xsd:enumeration value="INVALID_CREDIT_CARD_INFO"/>
      <xsd:enumeration value="INVALID_CROSS_REFERENCE_KEY"/>
      <xsd:enumeration value="INVALID_CROSS_REFERENCE_TYPE_FOR_FIELD"/>
      <xsd:enumeration value="INVALID_CURRENCY_CONV_RATE"/>
      <xsd:enumeration value="INVALID_CURRENCY_CORP_RATE"/>
      <xsd:enumeration value="INVALID_CURRENCY_ISO"/>
      <xsd:enumeration value="INVALID_DATA_CATEGORY_GROUP_REFERENCE"/>
      <xsd:enumeration value="INVALID_DATA_URI"/>
      <xsd:enumeration value="INVALID_EMAIL_ADDRESS"/>
      <xsd:enumeration value="INVALID_EMPTY_KEY_OWNER"/>
      <xsd:enumeration value="INVALID_FIELD"/>
      <xsd:enumeration value="INVALID_FIELD_FOR_INSERT_UPDATE"/>
      <xsd:enumeration value="INVALID_FIELD_WHEN_USING_TEMPLATE"/>
      <xsd:enumeration value="INVALID_FILTER_ACTION"/>
      <xsd:enumeration value="INVALID_GOOGLE_DOCS_URL"/>
      <xsd:enumeration value="INVALID_ID_FIELD"/>
      <xsd:enumeration value="INVALID_INET_ADDRESS"/>
      <xsd:enumeration value="INVALID_LINEITEM_CLONE_STATE"/>
      <xsd:enumeration value="INVALID_MASTER_OR_TRANSLATED_SOLUTION"/>
      <xsd:enumeration value="INVALID_OPERATION"/>
      <xsd:enumeration value="INVALID_OPERATOR"/>
      <xsd:enumeration value="INVALID_OR_NULL_FOR_RESTRICTED_PICKLIST"/>
      <xsd:enumeration value="INVALID_OWNER"/>
      <xsd:enumeration value="INVALID_PACKAGE_VERSION"/>
      <xsd:enumeration value="INVALID_PARTNER_NETWORK_STATUS"/>
      <xsd:enumeration value="INVALID_PERSON_ACCOUNT_OPERATION"/>
      <xsd:enumeration value="INVALID_PROVIDER_TYPE"/>
      <xsd:enumeration value="INVALID_QUERY_LOCATOR"/>
      <xsd:enumeration value="INVALID_READ_ONLY_USER_DML"/>
      <xsd:enumeration value="INVALID_SAVE_AS_ACTIVITY_FLAG"/>
      <xsd:enumeration value="INVALID_SESSION_ID"/>
      <xsd:enumeration value="INVALID_SETUP_OWNER"/>
      <xsd:enumeration value="INVALID_SIGNUP_COUNTRY"/>
      <xsd:enumeration value="INVALID_SIGNUP_OPTION"/>
      <xsd:enumeration value="INVALID_STATUS"/>
      <xsd:enumeration value="INVALID_TYPE"/>
      <xsd:enumeration value="INVALID_TYPE_FOR_OPERATION"/>
      <xsd:enumeration value="INVALID_TYPE_ON_FIELD_IN_RECORD"/>
      <xsd:enumeration value="IP_RANGE_LIMIT_EXCEEDED"/>
      <xsd:enumeration value="LICENSE_LIMIT_EXCEEDED"/>
      <xsd:enumeration value="LIGHT_PORTAL_USER_EXCEPTION"/>
      <xsd:enumeration value="LIMIT_EXCEEDED"/>
      <xsd:enumeration value="MALFORMED_ID"/>
      <xsd:enumeration value="MANAGER_NOT_DEFINED"/>
      <xsd:enumeration value="MASSMAIL_RETRY_LIMIT_EXCEEDED"/>
      <xsd:enumeration value="MASS_MAIL_LIMIT_EXCEEDED"/>
      <xsd:enumeration value="MAXIMUM_CCEMAILS_EXCEEDED"/>
      <xsd:enumeration value="MAXIMUM_DASHBOARD_COMPONENTS_EXCEEDED"/>
      <xsd:enumeration value="MAXIMUM_HIERARCHY_LEVELS_REACHED"/>
      <xsd:enumeration value="MAXIMUM_SIZE_OF_ATTACHMENT"/>
      <xsd:enumeration value="MAXIMUM_SIZE_OF_DOCUMENT"/>
      <xsd:enumeration value="MAX_ACTIONS_PER_RULE_EXCEEDED"/>
      <xsd:enumeration value="MAX_ACTIVE_RULES_EXCEEDED"/>
      <xsd:enumeration value="MAX_APPROVAL_STEPS_EXCEEDED"/>
      <xsd:enumeration value="MAX_FORMULAS_PER_RULE_EXCEEDED"/>
      <xsd:enumeration value="MAX_RULES_EXCEEDED"/>
      <xsd:enumeration value="MAX_RULE_ENTRIES_EXCEEDED"/>
      <xsd:enumeration value="MAX_TASK_DESCRIPTION_EXCEEEDED"/>
      <xsd:enumeration value="MAX_TM_RULES_EXCEEDED"/>
      <xsd:enumeration value="MAX_TM_RULE_ITEMS_EXCEEDED"/>
      <xsd:enumeration value="MERGE_FAILED"/>
      <xsd:enumeration value="MISSING_ARGUMENT"/>
      <xsd:enumeration value="MIXED_DML_OPERATION"/>
      <xsd:enumeration value="NONUNIQUE_SHIPPING_ADDRESS"/>
      <xsd:enumeration value="NO_APPLICABLE_PROCESS"/>
      <xsd:enumeration value="NO_ATTACHMENT_PERMISSION"/>
      <xsd:enumeration value="NO_INACTIVE_DIVISION_MEMBERS"/>
      <xsd:enumeration value="NO_MASS_MAIL_PERMISSION"/>
      <xsd:enumeration value="NO_PARTNER_PERMISSION"/>
      <xsd:enumeration value="NO_SUCH_USER_EXISTS"/>
      <xsd:enumeration value="NO_TOKEN_ENDPOINT"/>
      <xsd:enumeration value="NUMBER_OUTSIDE_VALID_RANGE"/>
      <xsd:enumeration value="NUM_HISTORY_FIELDS_BY_SOBJECT_EXCEEDED"/>
      <xsd:enumeration value="OPTED_OUT_OF_MASS_MAIL"/>
      <xsd:enumeration value="PACKAGE_LICENSE_REQUIRED"/>
      <xsd:enumeration value="PORTAL_USER_ALREADY_EXISTS_FOR_CONTACT"/>
      <xsd:enumeration value="PORTAL_USER_NOT_ALLOWED_FOR_CONTACT"/>
      <xsd:enumeration value="PRIVATE_CONTACT_ON_ASSET"/>
      <xsd:enumeration value="RECORD_IN_USE_BY_WORKFLOW"/>
      <xsd:enumeration value="REQUEST_RUNNING_TOO_LONG"/>
      <xsd:enumeration value="REQUIRED_FIELD_MISSING"/>
      <xsd:enumeration value="SELF_REFERENCE_FROM_TRIGGER"/>
      <xsd:enumeration value="SHARE_NEEDED_FOR_CHILD_OWNER"/>
      <xsd:enumeration value="STANDARD_PRICE_NOT_DEFINED"/>
      <xsd:enumeration value="STORAGE_LIMIT_EXCEEDED"/>
      <xsd:enumeration value="STRING_TOO_LONG"/>
      <xsd:enumeration value="TABSET_LIMIT_EXCEEDED"/>
      <xsd:enumeration value="TEMPLATE_NOT_ACTIVE"/>
      <xsd:enumeration value="TEMPLATE_NOT_FOUND"/>
      <xsd:enumeration value="TOO_MANY_APEX_REQUESTS"/>
      <xsd:enumeration value="TOO_MANY_ENUM_VALUE"/>
      <xsd:enumeration value="TRANSFER_REQUIRES_READ"/>
      <xsd:enumeration value="UNABLE_TO_LOCK_ROW"/>
      <xsd:enumeration value="UNAVAILABLE_RECORDTYPE_EXCEPTION"/>
      <xsd:enumeration value="UNDELETE_FAILED"/>
      <xsd:enumeration value="UNKNOWN_EXCEPTION"/>
      <xsd:enumeration value="UNSPECIFIED_EMAIL_ADDRESS"/>
      <xsd:enumeration value="UNSUPPORTED_APEX_TRIGGER_OPERATON"/>
      <xsd:enumeration value="UNVERIFIED_SENDER_ADDRESS"/>
      <xsd:enumeration value="USER_OWNS_PORTAL_ACCOUNT_EXCEPTION"/>
      <xsd:enumeration value="USER_WITH_APEX_SHARES_EXCEPTION"/>
      <xsd:enumeration value="VALIDATION_EXCEPTION"/>
      <xsd:enumeration value="WEBLINK_LIMIT_EXCEEDED"/>
      <xsd:enumeration value="WRONG_CONTROLLER_TYPE"/>
     </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="DeployStatus">
     <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Pending"/>
      <xsd:enumeration value="InProgress"/>
      <xsd:enumeration value="Succeeded"/>
      <xsd:enumeration value="SucceededPartial"/>
      <xsd:enumeration value="Failed"/>
      <xsd:enumeration value="Canceling"/>
      <xsd:enumeration value="Canceled"/>
     </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="RetrieveStatus">
     <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Pending"/>
      <xsd:enumeration value="InProgress"/>
      <xsd:enumeration value="Succeeded"/>
      <xsd:enumeration value="Failed"/>
     </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType name="RetrieveMessage">
     <xsd:sequence>
      <xsd:element name="fileName" type="xsd:string"/>
      <xsd:element name="problem" type="xsd:string"/>
     </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="DeployDetails">
     <xsd:sequence>
      <xsd:element name="componentFailures" minOccurs="0" maxOccurs="unbounded" type="tns:DeployMessage"/>
      <xsd:element name="componentSuccesses" minOccurs="0" maxOccurs="unbounded" type="tns:DeployMessage"/>
      <xsd:element name="retrieveResult" minOccurs="0" type="tns:RetrieveResult"/>
      <xsd:element name="runTestResult" minOccurs="0" type="tns:RunTestsResult"/>
     </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="FileProperties">
     <xsd:sequence>
      <xsd:element name="createdById" type="xsd:string"/>
      <xsd:element name="createdByName" type="xsd:string"/>
      <xsd:element name="createdDate" type="xsd:dateTime"/>
      <xsd:element name="fileName" type="xsd:string"/>
      <xsd:element name="fullName" type="xsd:string"/>
      <xsd:element name="id" type="xsd:string"/>
      <xsd:element name="lastModifiedById" type="xsd:string"/>
      <xsd:element name="lastModifiedByName" type="xsd:string"/>
      <xsd:element name="lastModifiedDate" type="xsd:dateTime"/>
      <xsd:element name="manageableState" minOccurs="0" type="tns:ManageableState"/>
      <xsd:element name="namespacePrefix" minOccurs="0" type="xsd:string"/>
      <xsd:element name="type" type="xsd:string"/>
     </xsd:sequence>
    </xsd:complexType>
    <xsd:simpleType name="ManageableState">
     <xsd:restriction base="xsd:string">
      <xsd:enumeration value="released"/>
      <xsd:enumeration value="deleted"/>
      <xsd:enumeration value="deprecated"/>
      <xsd:enumeration value="installed"/>
      <xsd:enumeration value="beta"/>
      <xsd:enumeration value="unmanaged"/>
      <xsd:enumeration value="installedEditable"/>
      <xsd:enumeration value="deprecatedEditable"/>
     </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType name="DeployMessage">
     <xsd:sequence>
      <xsd:element name="changed" type="xsd:boolean"/>
      <xsd:element name="columnNumber" minOccurs="0" type="xsd:int"/>
      <xsd:element name="componentType" minOccurs="0" type="xsd:string"/>
      <xsd:element name="created" type="xsd:boolean"/>
      <xsd:element name="createdDate" type="xsd:dateTime"/>
      <xsd:element name="deleted" type="xsd:boolean"/>
      <xsd:element name="fileName" type="xsd:string"/>
      <xsd:element name="fullName" type="xsd:string"/>
      <xsd:element name="id" minOccurs="0" type="xsd:string"/>
      <xsd:element name="lineNumber" minOccurs="0" type="xsd:int"/>
      <xsd:element name="problem" minOccurs="0" type="xsd:string"/>
      <xsd:element name="problemType" minOccurs="0" type="tns:DeployProblemType"/>
      <xsd:element name="success" type="xsd:boolean"/>
     </xsd:sequence>
    </xsd:complexType>
    <xsd:simpleType name="DeployProblemType">
     <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Warning"/>
      <xsd:enumeration value="Error"/>
      <xsd:enumeration value="Info"/>
     </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType name="RunTestsResult">
     <xsd:sequence>
      <xsd:element name="apexLogId" minOccurs="0" type="xsd:string"/>
      <xsd:element name="codeCoverage" minOccurs="0" maxOccurs="unbounded" type="tns:CodeCoverageResult"/>
      <xsd:element name="codeCoverageWarnings" minOccurs="0" maxOccurs="unbounded" type="tns:CodeCoverageWarning"/>
      <xsd:element name="failures" minOccurs="0" maxOccurs="unbounded" type="tns:RunTestFailure"/>
      <xsd:element name="flowCoverage" minOccurs="0" maxOccurs="unbounded" type="tns:FlowCoverageResult"/>
      <xsd:element name="flowCoverageWarnings" minOccurs="0" maxOccurs="unbounded" type="tns:FlowCoverageWarning"/>
      <xsd:element name="numFailures" type="xsd:int"/>
      <xsd:element name="numTestsRun" type="xsd:int"/>
      <xsd:element name="successes" minOccurs="0" maxOccurs="unbounded" type="tns:RunTestSuccess"/>
      <xsd:element name="totalTime" type="xsd:double"/>
     </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CodeCoverageWarning">
     <xsd:sequence>
      <xsd:element name="id" type="tns:ID"/>
      <xsd:element name="message" type="xsd:string"/>
      <xsd:element name="name" type="xsd:string" nillable="true"/>
      <xsd:element name="namespace" type="xsd:string" nillable="true"/>
     </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="RunTestFailure">
     <xsd:sequence>
      <xsd:element name="id" type="tns:ID"/>
      <xsd:element name="message" type="xsd:string"/>
      <xsd:element name="methodName" type="xsd:string" nillable="true"/>
      <xsd:element name="name" type="xsd:string"/>
      <xsd:element name="namespace" type="xsd:string" nillable="true"/>
      <xsd:element name="packageName" type="xsd:string"/>
      <xsd:element name="seeAllData" minOccurs="0" type="xsd:boolean"/>
      <xsd:element name="stackTrace" type="xsd:string" nillable="true"/>
      <xsd:element name="time" type="xsd:double"/>
      <xsd:element name="type" type="xsd:string"/>
     </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="RunTestSuccess">
     <xsd:sequence>
      <xsd:element name="id" type="tns:ID"/>
      <xsd:element name="methodName" type="xsd:string"/>
      <xsd:element name="name" type="xsd:string"/>
      <xsd:element name="namespace" type="xsd:string" nillable="true"/>
      <xsd:element name="seeAllData" minOccurs="0" type="xsd:boolean"/>
      <xsd:element name="time" type="xsd:double"/>
     </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CodeCoverageResult">
     <xsd:sequence>
      <xsd:element name="dmlInfo" minOccurs="0" maxOccurs="unbounded" type="tns:CodeLocation"/>
      <xsd:element name="id" type="tns:ID"/>
      <xsd:element name="locationsNotCovered" minOccurs="0" maxOccurs="unbounded" type="tns:CodeLocation"/>
      <xsd:element name="methodInfo" minOccurs="0" maxOccurs="unbounded" type="tns:CodeLocation"/>
      <xsd:element name="name" type="xsd:string"/>
      <xsd:element name="namespace" type="xsd:string" nillable="true"/>
      <xsd:element name="numLocations" type="xsd:int"/>
      <xsd:element name="numLocationsNotCovered" type="xsd:int"/>
      <xsd:element name="soqlInfo" minOccurs="0" maxOccurs="unbounded" type="tns:CodeLocation"/>
      <xsd:element name="soslInfo" minOccurs="0" maxOccurs="unbounded" type="tns:CodeLocation"/>
      <xsd:element name="type" type="xsd:string"/>
     </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CodeLocation">
     <xsd:sequence>
      <xsd:element name="column" type="xsd:int"/>
      <xsd:element name="line" type="xsd:int"/>
      <xsd:element name="numExecutions" type="xsd:int"/>
      <xsd:element name="time" type="xsd:double"/>
     </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="FlowCoverageResult">
     <xsd:sequence>
      <xsd:element name="elementsNotCovered" minOccurs="0" maxOccurs="unbounded" type="xsd:string"/>
      <xsd:element name="flowId" type="xsd:string"/>
      <xsd:element name="flowName" type="xsd:string"/>
      <xsd:element name="flowNamespace" type="xsd:string" nillable="true"/>
      <xsd:element name="numElements" type="xsd:int"/>
      <xsd:element name="numElementsNotCovered" type="xsd:int"/>
      <xsd:element name="processType" type="tns:FlowProcessType"/>
     </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="FlowCoverageWarning">
     <xsd:sequence>
      <xsd:element name="flowId" type="xsd:string" nillable="true"/>
      <xsd:element name="flowName" type="xsd:string" nillable="true"/>
      <xsd:element name="flowNamespace" type="xsd:string" nillable="true"/>
      <xsd:element name="message" type="xsd:string"/>
     </xsd:sequence>
    </xsd:complexType>
    <xsd:simpleType name="FlowProcessType">
     <xsd:restriction base="xsd:string">
      <xsd:enumeration value="AutoLaunchedFlow"/>
      <xsd:enumeration value="Flow"/>
      <xsd:enumeration value="Workflow"/>
      <xsd:enumeration value="CustomEvent"/>
      <xsd:enumeration value="InvocableProcess"/>
      <xsd:enumeration value="LoginFlow"/>
      <xsd:enumeration value="ActionPlan"/>
      <xsd:enumeration value="JourneyBuilderIntegration"/>
      <xsd:enumeration value="UserProvisioningFlow"/>
      <xsd:enumeration value="Survey"/>
      <xsd:enumeration value="SurveyEnrich"/>
      <xsd:enumeration value="Appointments"/>
      <xsd:enumeration value="FSCLending"/>
      <xsd:enumeration value="DigitalForm"/>
      <xsd:enumeration value="FieldServiceMobile"/>
      <xsd:enumeration value="OrchestrationFlow"/>
      <xsd:enumeration value="FieldServiceWeb"/>
      <xsd:enumeration value="TransactionSecurityFlow"/>
      <xsd:enumeration value="ContactRequestFlow"/>
      <xsd:enumeration value="ManagedContentFlow"/>
      <xsd:enumeration value="CheckoutFlow"/>
      <xsd:enumeration value="CartAsyncFlow"/>
      <xsd:enumeration value="DataCaptureFlow"/>
      <xsd:enumeration value="CustomerLifecycle"/>
      <xsd:enumeration value="Journey"/>
      <xsd:enumeration value="RecommendationStrategy"/>
      <xsd:enumeration value="Orchestrator"/>
      <xsd:enumeration value="RoutingFlow"/>
      <xsd:enumeration value="ServiceCatalogItemFlow"/>
      <xsd:enumeration value="EvaluationFlow"/>
      <xsd:enumeration value="LoyaltyManagementFlow"/>
      <xsd:enumeration value="ManagedContentAuthoringWorkflow"/>
      <xsd:enumeration value="ActionCadenceAutolaunchedFlow"/>
      <xsd:enumeration value="ActionCadenceStepFlow"/>
      <xsd:enumeration value="IndicatorResultFlow"/>
      <xsd:enumeration value="IndividualObjectLinkingFlow"/>
      <xsd:enumeration value="PromptFlow"/>
      <xsd:enumeration value="ApprovalWorkflow"/>
      <xsd:enumeration value="DcvrFrameworkDataCaptureFlow"/>
      <xsd:enumeration value="ActivityObjectMatchingFlow"/>
      <xsd:enumeration value="ActionableEventManagementFlow"/>
      <xsd:enumeration value="StageManagementEvaluationFlow"/>
      <xsd:enumeration value="IdentityUserRegistrationFlow"/>
     </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType name="ValueTypeField">
     <xsd:sequence>
      <xsd:element name="fields" minOccurs="0" maxOccurs="unbounded" type="tns:ValueTypeField"/>
      <xsd:element name="foreignKeyDomain" minOccurs="0" maxOccurs="unbounded" type="xsd:string"/>
      <xsd:element name="isForeignKey" type="xsd:boolean"/>
      <xsd:element name="isNameField" type="xsd:boolean"/>
      <xsd:element name="minOccurs" type="xsd:int"/>
      <xsd:element name="name" type="xsd:string"/>
      <xsd:element name="picklistValues" minOccurs="0" maxOccurs="unbounded" type="tns:PicklistEntry"/>
      <xsd:element name="soapType" type="xsd:string"/>
      <xsd:element name="valueRequired" type="xsd:boolean"/>
     </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="PicklistEntry">
     <xsd:sequence>
      <xsd:element name="active" type="xsd:boolean"/>
      <xsd:element name="defaultValue" type="xsd:boolean"/>
      <xsd:element name="label" type="xsd:string"/>
      <xsd:element name="validFor" minOccurs="0" type="xsd:string"/>
      <xsd:element name="value" type="xsd:string"/>
     </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="DescribeMetadataObject">
     <xsd:sequence>
      <xsd:element name="childXmlNames" minOccurs="0" maxOccurs="unbounded" type="xsd:string"/>
      <xsd:element name="directoryName" type="xsd:string"/>
      <xsd:element name="inFolder" type="xsd:boolean"/>
      <xsd:element name="metaFile" type="xsd:boolean"/>
      <xsd:element name="suffix" minOccurs="0" type="xsd:string"/>
      <xsd:element name="xmlName" type="xsd:string"/>
     </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Package">
     <xsd:complexContent>
      <xsd:extension base="tns:Metadata">
       <xsd:sequence>
        <xsd:element name="apiAccessLevel" minOccurs="0" type="tns:APIAccessLevel"/>
        <xsd:element name="description" minOccurs="0" type="xsd:string"/>
        <xsd:element name="namespacePrefix" minOccurs="0" type="xsd:string"/>
        <xsd:element name="objectPermissions" minOccurs="0" maxOccurs="unbounded" type="tns:ProfileObjectPermissions"/>
        <xsd:element name="packageType" minOccurs="0" type="xsd:string"/>
        <xsd:element name="postInstallClass" minOccurs="0" type="xsd:string"/>
        <xsd:element name="setupWeblink" minOccurs="0" type="xsd:string"/>
        <xsd:element name="types" minOccurs="0" maxOccurs="unbounded" type="tns:PackageTypeMembers"/>
        <xsd:element name="uninstallClass" minOccurs="0" type="xsd:string"/>
        <xsd:element name="version" type="xsd:string"/>
       </xsd:sequence>
      </xsd:extension>
     </xsd:complexContent>
    </xsd:complexType>
    <xsd:simpleType name="APIAccessLevel">
     <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Unrestricted"/>
      <xsd:enumeration value="Restricted"/>
     </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType name="ProfileObjectPermissions">
     <xsd:sequence>
      <xsd:element name="allowCreate" minOccurs="0" type="xsd:boolean"/>
      <xsd:element name="allowDelete" minOccurs="0" type="xsd:boolean"/>
      <xsd:element name="allowEdit" minOccurs="0" type="xsd:boolean"/>
      <xsd:element name="allowRead" minOccurs="0" type="xsd:boolean"/>
      <xsd:element name="modifyAllRecords" minOccurs="0" type="xsd:boolean"/>
      <xsd:element name="object" type="xsd:string"/>
      <xsd:element name="viewAllFields" minOccurs="0" type="xsd:boolean"/>
      <xsd:element name="viewAllRecords" minOccurs="0" type="xsd:boolean"/>
     </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="PackageTypeMembers">
     <xsd:sequence>
      <xsd:element name="members" minOccurs="0" maxOccurs="unbounded" type="xsd:string"/>
      <xsd:element name="name" type="xsd:string"/>
     </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ExtendedErrorDetails">
     <xsd:sequence>
      <xsd:element name="extendedErrorCode" type="tns:ExtendedErrorCode"/>
      <xsd:any namespace="##targetNamespace" minOccurs="0" maxOccurs="unbounded" processContents="lax"/>
     </xsd:sequence>
    </xsd:complexType>
    <xsd:simpleType name="ExtendedErrorCode">
     <xsd:restriction base="xsd:string">
      <xsd:enumeration value="ACTIONCALLPATH_MISSING_NAME"/>
      <xsd:enumeration value="ACTIONCALL_DUPLICATE_INPUT_PARAM"/>
      <xsd:enumeration value="ACTIONCALL_MISSING_NAME"/>
      <xsd:enumeration value="ACTIONCALL_MISSING_REQUIRED_PARAM"/>
      <xsd:enumeration value="ACTIONCALL_MISSING_REQUIRED_TYPE"/>
      <xsd:enumeration value="ACTIONCALL_NOT_SUPPORTED_FOR_PROCESSTYPE"/>
      <xsd:enumeration value="ACTIONCALL_NOT_SUPPORTED_FOR_VERSION"/>
      <xsd:enumeration value="ACTIONCALL_UNKNOWN_INPUT_PARAM"/>
      <xsd:enumeration value="ACTIONCALL_UNKNOWN_OUTPUT_PARAM"/>
      <xsd:enumeration value="ACTIONCALL_UNSUPPORTED_TYPE"/>
      <xsd:enumeration value="APEX_CLASS_VARIABLE_NOT_FOUND"/>
      <xsd:enumeration value="APEX_TRIGGER_VARIABLE_NOT_FOUND"/>
      <xsd:enumeration value="ASSIGNMENT_MISSING_ASSIGNTOREFERENCE"/>
      <xsd:enumeration value="ASSIGNMENT_MISSING_VALUE"/>
      <xsd:enumeration value="ASSIGNMENT_TYPE_INCOMPATIBLE"/>
      <xsd:enumeration value="CHOICE_DEFAULT_CONNECTOR_MISSING_LABEL"/>
      <xsd:enumeration value="CHOICE_LOOKUP_NOT_FOUND"/>
      <xsd:enumeration value="CHOICE_MISSING_CHOICE"/>
      <xsd:enumeration value="CHOICE_MISSING_DEFAULT_CONNECTOR"/>
      <xsd:enumeration value="CHOICE_MISSING_WHEN_ELEMENT"/>
      <xsd:enumeration value="COLLECTION_PROCESSOR_MISSING_COLLECTION_REFERENCE"/>
      <xsd:enumeration value="COLLECTION_PROCESSOR_MISSING_COLLECTION_PROCESSOR_TYPE"/>
      <xsd:enumeration value="COLLECTION_PROCESSOR_MISSING_FORMULA"/>
      <xsd:enumeration value="COLLECTION_PROCESSOR_MISSING_LIMIT"/>
      <xsd:enumeration value="COLLECTION_PROCESSOR_MISSING_SORT_FIELD"/>
      <xsd:enumeration value="COLLECTION_PROCESSOR_MISSING_SORT_ORDER"/>
      <xsd:enumeration value="COLLECTION_PROCESSOR_MISSING_VARIABLE_NAME"/>
      <xsd:enumeration value="COLLECTION_PROCESSOR_NEGATIVE_LIMIT"/>
      <xsd:enumeration value="COLLECTION_PROCESSOR_NONEXISTENT_VARIABLE"/>
      <xsd:enumeration value="COLLECTION_PROCESSOR_NULL_COLLECTION"/>
      <xsd:enumeration value="COLLECTION_PROCESSOR_SORT_FIELD_NOT_SUPPORTED"/>
      <xsd:enumeration value="COLLECTION_PROCESSOR_TYPE_NOT_SUPPORTED"/>
      <xsd:enumeration value="COLLECTION_PROCESSOR_ZERO_LIMIT"/>
      <xsd:enumeration value="CONNECTOR_MISSING_TARGET"/>
      <xsd:enumeration value="CONSTANT_INCLUDES_REFERENCES"/>
      <xsd:enumeration value="CONSTANT_MISSING_DATA_TYPE"/>
      <xsd:enumeration value="CONSTANT_MISSING_VALUE"/>
      <xsd:enumeration value="CUSTOMMETADATA_LIMIT_EXCEEDED"/>
      <xsd:enumeration value="DECISION_DEFAULT_CONNECTOR_MISSING_LABEL"/>
      <xsd:enumeration value="DECISION_MISSING_OUTCOME"/>
      <xsd:enumeration value="ELEMENT_CONNECTS_TO_SELF"/>
      <xsd:enumeration value="ELEMENT_MISSING_CONNECTOR"/>
      <xsd:enumeration value="ELEMENT_MISSING_LABEL"/>
      <xsd:enumeration value="ELEMENT_MISSING_NAME"/>
      <xsd:enumeration value="ELEMENT_MISSING_REFERENCE"/>
      <xsd:enumeration value="ELEMENT_MORE_THAN_ONE_DEFAULT_CONNECTOR"/>
      <xsd:enumeration value="ELEMENT_NEVER_USED"/>
      <xsd:enumeration value="ELEMENT_SCALE_SMALLER_THAN_PRECISION"/>
      <xsd:enumeration value="ELEMENT_SUBTYPE_NOT_SUPPORTED"/>
      <xsd:enumeration value="ELEMENT_SUBTYPE_NOT_SUPPORTED_FOR_ELEMENTTYPE"/>
      <xsd:enumeration value="ELEMENT_SUBTYPE_NOT_SUPPORTED_FOR_PROCESSTYPE"/>
      <xsd:enumeration value="ELEMENT_TYPE_NOT_SUPPORTED"/>
      <xsd:enumeration value="ELEMENT_TYPE_NOT_SUPPORTED_FOR_PROCESSTYPE"/>
      <xsd:enumeration value="EXTERNAL_OBJECTS_NOT_SUPPORTED"/>
      <xsd:enumeration value="FIELD_RELATIONSHIP_NOT_SUPPORTED"/>
      <xsd:enumeration value="FIELD_TYPE_NOT_SUPPORTED"/>
      <xsd:enumeration value="FLOW_INTERVIEW_NOT_PERSISTED"/>
      <xsd:enumeration value="FORMULA_EXPRESSION_MISSING"/>
      <xsd:enumeration value="FORMULA_MISSING_DATA_TYPE"/>
      <xsd:enumeration value="FORMULA_MISSING_EXPRESSION"/>
      <xsd:enumeration value="FORMULA_MISSING_NAME"/>
      <xsd:enumeration value="FORMULA_MISSING_PROCESSMETADATAVALUES"/>
      <xsd:enumeration value="INCOMPATIBLE_DATA_TYPE"/>
      <xsd:enumeration value="INVALID_ASSIGNMENT_OPERATION"/>
      <xsd:enumeration value="INVALID_CONNECTOR"/>
      <xsd:enumeration value="INVALID_FLOW"/>
      <xsd:enumeration value="INVALID_FLOW_PROCESS"/>
      <xsd:enumeration value="INVALID_REFERENCE"/>
      <xsd:enumeration value="INVALID_TYPE_ON_ELEMENT"/>
      <xsd:enumeration value="LOOP_MISSING_COLLECTION_REFERENCE"/>
      <xsd:enumeration value="LOOP_MISSING_ITERATION_ORDER"/>
      <xsd:enumeration value="LOOP_MISSING_NEXT_VALUE_CONNECTOR"/>
      <xsd:enumeration value="LOOP_MISSING_NO_MORE_VALUES_CONNECTOR"/>
      <xsd:enumeration value="LOOP_MISSING_VARIABLE_NAME"/>
      <xsd:enumeration value="MISSING_PROCESSMETADATAVALUE"/>
      <xsd:enumeration value="NONEXISTENT_FLOW_INTERVIEW"/>
      <xsd:enumeration value="NONEXISTENT_LOOKUP_VALUE"/>
      <xsd:enumeration value="NONEXISTENT_PROCESSMETADATAVALUE"/>
      <xsd:enumeration value="NONEXISTENT_VARIABLE"/>
      <xsd:enumeration value="OUTCOME_MISSING_LABEL"/>
      <xsd:enumeration value="PROCESSMETADATAVALUE_MISSING_NAME"/>
      <xsd:enumeration value="PROCESSMETADATAVALUE_MISSING_VALUE"/>
      <xsd:enumeration value="PROCESS_TYPE_ELEMENT_NOT_SUPPORTED"/>
      <xsd:enumeration value="PROCESS_TYPE_NOT_SUPPORTED"/>
      <xsd:enumeration value="RECORDCREATE_MISSING_ASSIGNRECORDIDTOREFERENCE"/>
      <xsd:enumeration value="RECORDCREATE_MISSING_INPUT_REFERENCE"/>
      <xsd:enumeration value="RECORDCREATE_MISSING_OBJECT_TYPE"/>
      <xsd:enumeration value="RECORDDELETE_MISSING_FILTERS_AND_INPUT_REFERENCE"/>
      <xsd:enumeration value="RECORDDELETE_MISSING_OBJECT_TYPE"/>
      <xsd:enumeration value="RECORDLOOKUP_MISSING_ASSIGNNULLVALUESIFNORECORDSFOUND"/>
      <xsd:enumeration value="RECORDLOOKUP_MISSING_FILTERS_AND_INPUT_REFERENCE"/>
      <xsd:enumeration value="RECORDLOOKUP_MISSING_GETFIRSTRECORDONLY"/>
      <xsd:enumeration value="RECORDLOOKUP_MISSING_OBJECT_TYPE"/>
      <xsd:enumeration value="RECORDLOOKUP_MISSING_OUTPUT_REFERENCE"/>
      <xsd:enumeration value="RECORDUPDATE_MISSING_FILTERS_AND_INPUT_REFERENCE"/>
      <xsd:enumeration value="RECORDUPDATE_MISSING_INPUT_REFERENCE"/>
      <xsd:enumeration value="RECORDUPDATE_MISSING_OBJECT_TYPE"/>
      <xsd:enumeration value="REFERENCE_FIELD_NOT_FOUND"/>
      <xsd:enumeration value="REFERENCE_FIELD_NOT_SUPPORTED"/>
      <xsd:enumeration value="REFERENCE_SOBJECT_NOT_FOUND"/>
      <xsd:enumeration value="REFERENCE_SOBJECT_NOT_SUPPORTED"/>
      <xsd:enumeration value="SCREEN_MISSING_ALLOWBACK"/>
      <xsd:enumeration value="SCREEN_MISSING_ALLOWFINISH"/>
      <xsd:enumeration value="SCREEN_MISSING_ALLOWNEXT"/>
      <xsd:enumeration value="SCREEN_MISSING_ALLOWPAUSE"/>
      <xsd:enumeration value="SOBJECT_ELEMENT_MISSING_DATATYPE"/>
      <xsd:enumeration value="SOBJECT_ELEMENT_MISSING_OBJECT_TYPE"/>
      <xsd:enumeration value="START_ELEMENT_MISSING"/>
      <xsd:enumeration value="SUBFLOW_MISSING_FLOW_NAME"/>
      <xsd:enumeration value="SUBFLOW_MISSING_INPUT_ASSIGNMENTS"/>
      <xsd:enumeration value="SUBFLOW_MISSING_OUTPUT_ASSIGNMENTS"/>
      <xsd:enumeration value="SUBFLOW_OUTPUT_INCOMPATIBLE_DATATYPES"/>
      <xsd:enumeration value="TEXTTEMPLATE_MISSING_FULLNAME"/>
      <xsd:enumeration value="TEXTTEMPLATE_MISSING_TEXT"/>
      <xsd:enumeration value="UNRESOLVED_PLUGIN_REFERENCE"/>
      <xsd:enumeration value="VARIABLE_FIELD_NOT_SUPPORTED"/>
      <xsd:enumeration value="VARIABLE_MISSING_DATATYPE"/>
      <xsd:enumeration value="VARIABLE_MISSING_NAME"/>
      <xsd:enumeration value="VARIABLE_SCALE_EXCEEDS_PRECISION"/>
      <xsd:enumeration value="WAITEVENT_DEFAULT_CONNECTOR_MISSING_LABEL"/>
      <xsd:enumeration value="WAITEVENT_DUPLICATE_INPUT_PARAM"/>
      <xsd:enumeration value="WAITEVENT_MISSING_CONDITION"/>
      <xsd:enumeration value="WAITEVENT_MISSING_CONNECTOR"/>
      <xsd:enumeration value="WAITEVENT_MISSING_EVENTTYPE"/>
      <xsd:enumeration value="WAITEVENT_MISSING_INPUT_PARAM"/>
      <xsd:enumeration value="WAITEVENT_MISSING_NAME"/>
      <xsd:enumeration value="WAITEVENT_OBJECT_NOT_SUPPORTED"/>
      <xsd:enumeration value="WAITEVENT_OUTPUT_INCOMPATIBLE_DATATYPES"/>
      <xsd:enumeration value="WAITEVENT_UNKNOWN_INPUT_PARAM"/>
      <xsd:enumeration value="WAITEVENT_UNKNOWN_OUTPUT_PARAM"/>
      <xsd:enumeration value="WORKFLOW_MISSING_PROCESSMETADATAVALUES"/>
      <xsd:enumeration value="WORKFLOW_OBJECTTYPE_NOT_SUPPORTED"/>
      <xsd:enumeration value="WORKFLOW_OBJECTVARIABLE_AND_OLDOBJECTVARIABLE_REFERENCE_SAME_SOBJECT_TYPE"/>
      <xsd:enumeration value="WORKFLOW_OBJECTVARIABLE_DOESNT_SUPPORT_INPUT"/>
      <xsd:enumeration value="WORKFLOW_OBJECTVARIABLE_MISSING_DATATYPE"/>
      <xsd:enumeration value="WORKFLOW_OBJECTVARIABLE_MISSING_SOBJECTTYPE"/>
      <xsd:enumeration value="WORKFLOW_RECURSION_LIMIT_EXCEEDED"/>
      <xsd:enumeration value="WORKFLOW_TRIGGERTYPE_INVALID_VALUE"/>
     </xsd:restriction>
    </xsd:simpleType>

  </xsd:schema>
</types>
<message name="Header">
  <part name="AllOrNoneHeader" element="tns:AllOrNoneHeader"/>
  <part name="CallOptions" element="tns:CallOptions"/>
  <part name="DebuggingHeader" element="tns:DebuggingHeader"/>
  <part name="DebuggingInfo" element="tns:DebuggingInfo"/>
  <part name="SessionHeader" element="tns:SessionHeader"/>
 </message>
 <message name="cancelDeployRequest">
  <part element="tns:cancelDeploy" name="parameters"/>
 </message>
 <message name="cancelDeployResponse">
  <part element="tns:cancelDeployResponse" name="parameters"/>
 </message>
 <message name="checkDeployStatusRequest">
  <part element="tns:checkDeployStatus" name="parameters"/>
 </message>
 <message name="checkDeployStatusResponse">
  <part element="tns:checkDeployStatusResponse" name="parameters"/>
 </message>
 <message name="checkRetrieveStatusRequest">
  <part element="tns:checkRetrieveStatus" name="parameters"/>
 </message>
 <message name="checkRetrieveStatusResponse">
  <part element="tns:checkRetrieveStatusResponse" name="parameters"/>
 </message>
 <message name="createMetadataRequest">
  <part element="tns:createMetadata" name="parameters"/>
 </message>
 <message name="createMetadataResponse">
  <part element="tns:createMetadataResponse" name="parameters"/>
 </message>
 <message name="deleteMetadataRequest">
  <part element="tns:deleteMetadata" name="parameters"/>
 </message>
 <message name="deleteMetadataResponse">
  <part element="tns:deleteMetadataResponse" name="parameters"/>
 </message>
 <message name="deployRequest">
  <part element="tns:deploy" name="parameters"/>
 </message>
 <message name="deployResponse">
  <part element="tns:deployResponse" name="parameters"/>
 </message>
 <message name="deployRecentValidationRequest">
  <part element="tns:deployRecentValidation" name="parameters"/>
 </message>
 <message name="deployRecentValidationResponse">
  <part element="tns:deployRecentValidationResponse" name="parameters"/>
 </message>
 <message name="describeMetadataRequest">
  <part element="tns:describeMetadata" name="parameters"/>
 </message>
 <message name="describeMetadataResponse">
  <part element="tns:describeMetadataResponse" name="parameters"/>
 </message>
 <message name="describeValueTypeRequest">
  <part element="tns:describeValueType" name="parameters"/>
 </message>
 <message name="describeValueTypeResponse">
  <part element="tns:describeValueTypeResponse" name="parameters"/>
 </message>
 <message name="listMetadataRequest">
  <part element="tns:listMetadata" name="parameters"/>
 </message>
 <message name="listMetadataResponse">
  <part element="tns:listMetadataResponse" name="parameters"/>
 </message>
 <message name="readMetadataRequest">
  <part element="tns:readMetadata" name="parameters"/>
 </message>
 <message name="readMetadataResponse">
  <part element="tns:readMetadataResponse" name="parameters"/>
 </message>
 <message name="renameMetadataRequest">
  <part element="tns:renameMetadata" name="parameters"/>
 </message>
 <message name="renameMetadataResponse">
  <part element="tns:renameMetadataResponse" name="parameters"/>
 </message>
 <message name="retrieveRequest">
  <part element="tns:retrieve" name="parameters"/>
 </message>
 <message name="retrieveResponse">
  <part element="tns:retrieveResponse" name="parameters"/>
 </message>
 <message name="updateMetadataRequest">
  <part element="tns:updateMetadata" name="parameters"/>
 </message>
 <message name="updateMetadataResponse">
  <part element="tns:updateMetadataResponse" name="parameters"/>
 </message>
 <message name="upsertMetadataRequest">
  <part element="tns:upsertMetadata" name="parameters"/>
 </message>
 <message name="upsertMetadataResponse">
  <part element="tns:upsertMetadataResponse" name="parameters"/>
 </message>
 <portType name="MetadataPortType">
  <operation name="cancelDeploy">
   <documentation>Cancels a metadata deploy.</documentation>
   <input message="tns:cancelDeployRequest"/>
   <output message="tns:cancelDeployResponse"/>
  </operation>
  <operation name="checkDeployStatus">
   <documentation>Check the current status of an asyncronous deploy call.</documentation>
   <input message="tns:checkDeployStatusRequest"/>
   <output message="tns:checkDeployStatusResponse"/>
  </operation>
  <operation name="checkRetrieveStatus">
   <documentation>Check the current status of an asyncronous deploy call.</documentation>
   <input message="tns:checkRetrieveStatusRequest"/>
   <output message="tns:checkRetrieveStatusResponse"/>
  </operation>
  <operation name="createMetadata">
   <documentation>Creates metadata entries synchronously.</documentation>
   <input message="tns:createMetadataRequest"/>
   <output message="tns:createMetadataResponse"/>
  </operation>
  <operation name="deleteMetadata">
   <documentation>Deletes metadata entries synchronously.</documentation>
   <input message="tns:deleteMetadataRequest"/>
   <output message="tns:deleteMetadataResponse"/>
  </operation>
  <operation name="deploy">
   <documentation>Deploys a zipfile full of metadata entries asynchronously.</documentation>
   <input message="tns:deployRequest"/>
   <output message="tns:deployResponse"/>
  </operation>
  <operation name="deployRecentValidation">
   <documentation>Deploys a previously validated payload without running tests.</documentation>
   <input message="tns:deployRecentValidationRequest"/>
   <output message="tns:deployRecentValidationResponse"/>
  </operation>
  <operation name="describeMetadata">
   <documentation>Describes features of the metadata API.</documentation>
   <input message="tns:describeMetadataRequest"/>
   <output message="tns:describeMetadataResponse"/>
  </operation>
  <operation name="describeValueType">
   <documentation>Describe a complex value type</documentation>
   <input message="tns:describeValueTypeRequest"/>
   <output message="tns:describeValueTypeResponse"/>
  </operation>
  <operation name="listMetadata">
   <documentation>Lists the available metadata components.</documentation>
   <input message="tns:listMetadataRequest"/>
   <output message="tns:listMetadataResponse"/>
  </operation>
  <operation name="readMetadata">
   <documentation>Reads metadata entries synchronously.</documentation>
   <input message="tns:readMetadataRequest"/>
   <output message="tns:readMetadataResponse"/>
  </operation>
  <operation name="renameMetadata">
   <documentation>Renames a metadata entry synchronously.</documentation>
   <input message="tns:renameMetadataRequest"/>
   <output message="tns:renameMetadataResponse"/>
  </operation>
  <operation name="retrieve">
   <documentation>Retrieves a set of individually specified metadata entries.</documentation>
   <input message="tns:retrieveRequest"/>
   <output message="tns:retrieveResponse"/>
  </operation>
  <operation name="updateMetadata">
   <documentation>Updates metadata entries synchronously.</documentation>
   <input message="tns:updateMetadataRequest"/>
   <output message="tns:updateMetadataResponse"/>
  </operation>
  <operation name="upsertMetadata">
   <documentation>Upserts metadata entries synchronously.</documentation>
   <input message="tns:upsertMetadataRequest"/>
   <output message="tns:upsertMetadataResponse"/>
  </operation>
 </portType>
 <binding name="MetadataBinding" type="tns:MetadataPortType">
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
  <operation name="cancelDeploy">
   <soap:operation soapAction=""/>
   <input>
    <soap:header use="literal" part="SessionHeader" message="tns:Header"/>
    <soap:header use="literal" part="CallOptions" message="tns:Header"/>
    <soap:body use="literal" parts="parameters"/>
   </input>
   <output>
    <soap:body use="literal"/>
   </output>
  </operation>
  <operation name="checkDeployStatus">
   <soap:operation soapAction=""/>
   <input>
    <soap:header use="literal" part="SessionHeader" message="tns:Header"/>
    <soap:header use="literal" part="CallOptions" message="tns:Header"/>
    <soap:body use="literal" parts="parameters"/>
   </input>
   <output>
    <soap:header use="literal" part="DebuggingInfo" message="tns:Header"/>
    <soap:body use="literal"/>
   </output>
  </operation>
  <operation name="checkRetrieveStatus">
   <soap:operation soapAction=""/>
   <input>
    <soap:header use="literal" part="SessionHeader" message="tns:Header"/>
    <soap:header use="literal" part="CallOptions" message="tns:Header"/>
    <soap:body use="literal" parts="parameters"/>
   </input>
   <output>
    <soap:body use="literal"/>
   </output>
  </operation>
  <operation name="createMetadata">
   <soap:operation soapAction=""/>
   <input>
    <soap:header use="literal" part="SessionHeader" message="tns:Header"/>
    <soap:header use="literal" part="CallOptions" message="tns:Header"/>
    <soap:header use="literal" part="AllOrNoneHeader" message="tns:Header"/>
    <soap:body use="literal" parts="parameters"/>
   </input>
   <output>
    <soap:body use="literal"/>
   </output>
  </operation>
  <operation name="deleteMetadata">
   <soap:operation soapAction=""/>
   <input>
    <soap:header use="literal" part="SessionHeader" message="tns:Header"/>
    <soap:header use="literal" part="CallOptions" message="tns:Header"/>
    <soap:header use="literal" part="AllOrNoneHeader" message="tns:Header"/>
    <soap:body use="literal" parts="parameters"/>
   </input>
   <output>
    <soap:body use="literal"/>
   </output>
  </operation>
  <operation name="deploy">
   <soap:operation soapAction=""/>
   <input>
    <soap:header use="literal" part="SessionHeader" message="tns:Header"/>
    <soap:header use="literal" part="DebuggingHeader" message="tns:Header"/>
    <soap:header use="literal" part="CallOptions" message="tns:Header"/>
    <soap:body use="literal" parts="parameters"/>
   </input>
   <output>
    <soap:body use="literal"/>
   </output>
  </operation>
  <operation name="deployRecentValidation">
   <soap:operation soapAction=""/>
   <input>
    <soap:header use="literal" part="SessionHeader" message="tns:Header"/>
    <soap:header use="literal" part="DebuggingHeader" message="tns:Header"/>
    <soap:header use="literal" part="CallOptions" message="tns:Header"/>
    <soap:body use="literal" parts="parameters"/>
   </input>
   <output>
    <soap:body use="literal"/>
   </output>
  </operation>
  <operation name="describeMetadata">
   <soap:operation soapAction=""/>
   <input>
    <soap:header use="literal" part="SessionHeader" message="tns:Header"/>
    <soap:header use="literal" part="CallOptions" message="tns:Header"/>
    <soap:body use="literal" parts="parameters"/>
   </input>
   <output>
    <soap:body use="literal"/>
   </output>
  </operation>
  <operation name="describeValueType">
   <soap:operation soapAction=""/>
   <input>
    <soap:header use="literal" part="SessionHeader" message="tns:Header"/>
    <soap:body use="literal" parts="parameters"/>
   </input>
   <output>
    <soap:body use="literal"/>
   </output>
  </operation>
  <operation name="listMetadata">
   <soap:operation soapAction=""/>
   <input>
    <soap:header use="literal" part="SessionHeader" message="tns:Header"/>
    <soap:header use="literal" part="CallOptions" message="tns:Header"/>
    <soap:body use="literal" parts="parameters"/>
   </input>
   <output>
    <soap:body use="literal"/>
   </output>
  </operation>
  <operation name="readMetadata">
   <soap:operation soapAction=""/>
   <input>
    <soap:header use="literal" part="SessionHeader" message="tns:Header"/>
    <soap:header use="literal" part="CallOptions" message="tns:Header"/>
    <soap:body use="literal" parts="parameters"/>
   </input>
   <output>
    <soap:body use="literal"/>
   </output>
  </operation>
  <operation name="renameMetadata">
   <soap:operation soapAction=""/>
   <input>
    <soap:header use="literal" part="SessionHeader" message="tns:Header"/>
    <soap:header use="literal" part="CallOptions" message="tns:Header"/>
    <soap:body use="literal" parts="parameters"/>
   </input>
   <output>
    <soap:body use="literal"/>
   </output>
  </operation>
  <operation name="retrieve">
   <soap:operation soapAction=""/>
   <input>
    <soap:header use="literal" part="SessionHeader" message="tns:Header"/>
    <soap:header use="literal" part="CallOptions" message="tns:Header"/>
    <soap:body use="literal" parts="parameters"/>
   </input>
   <output>
    <soap:body use="literal"/>
   </output>
  </operation>
  <operation name="updateMetadata">
   <soap:operation soapAction=""/>
   <input>
    <soap:header use="literal" part="SessionHeader" message="tns:Header"/>
    <soap:header use="literal" part="CallOptions" message="tns:Header"/>
    <soap:header use="literal" part="AllOrNoneHeader" message="tns:Header"/>
    <soap:body use="literal" parts="parameters"/>
   </input>
   <output>
    <soap:body use="literal"/>
   </output>
  </operation>
  <operation name="upsertMetadata">
   <soap:operation soapAction=""/>
   <input>
    <soap:header use="literal" part="SessionHeader" message="tns:Header"/>
    <soap:header use="literal" part="CallOptions" message="tns:Header"/>
    <soap:header use="literal" part="AllOrNoneHeader" message="tns:Header"/>
    <soap:body use="literal" parts="parameters"/>
   </input>
   <output>
    <soap:body use="literal"/>
   </output>
  </operation>
 </binding>
 <service name="MetadataService">
  <documentation>Manage your Salesforce.com metadata</documentation>
  <port binding="tns:MetadataBinding" name="MetadataPort">
   <soap:address location="https://login.salesforce.com/services/Soap/m/64.0"/>
  </port>
 </service>
</definitions>